.jumbotron {
  background-image: url(../images/books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: maroon;
}
.jumbotron .container {
  height: 400px;
}
/*.intro-container {
  width: 400px;
  height: 300px;
}*/

.button {
  float: left;
}

/*body {
  width: 600px;
}*/
